.b-form

    &__section
        &.success
            display none

    &__items
        display flex
        flex-wrap wrap
        margin-bottom 20px

    &__item
        position relative
        
        input[type="text"]
            padding 26px 20px 27px 50px

        &--name
            width 49%
            margin-right 11px

            @media screen and (max-width 1279px)
                margin-right 0

        &--phone
            width 49%

        &--email
            width 100%

        &--message
            width 100%

        @media screen and (max-width 1279px)
            width 100%

    &__icon
        display block
        width 16px
        height 16px
        position absolute
        top 27px
        left 20px
        img
            max-width 100%

    &__bot
        display flex
        align-items center

        @media screen and (max-width 1023px)
            flex-direction column

    &__personal-data
        font-size 16px
        color #fff
        font-weight 400
        width 300px
        max-width 100%
        margin-right 20px

        @media screen and (max-width 1023px)
            text-align center
            margin-right 0
            margin-top 15px
            order 1
            width 100%

    &__btn-send
        min-width 225px

    &__send-success
        font-size 24px
        color #575757
        font-weight 500
        display none
        width 550px
        max-width 100%
        background-color #fff
        text-align center
        padding 50px
        border-radius 5px
        margin-top 20%
        &.success
            display block

        @media screen and (max-width 960px)
            padding 25px
            font-size 18px    

        @media screen and (max-width 767px)
            width 100%
            margin-top 10px
    