<div block="questions" style="background: url('img/questions-bg.jpg') 50% 50% no-repeat;">
    <div elem="section" class="contain">
        <div elem="body">
            <div elem="left">
                <div elem="title">Остались вопросы? Нужна консультация?</div>
                <div elem="desc">Вы можете связаться с нами удобным для вас способом, через форму обратной связи, или следуя за нами в социальных сетях:</div>
                <div elem="social">
                    <a href="#">VK</a>
                    / 
                    <a href="#">Facebook</a>
                    / 
                    <a href="#">Twitter</a>
                    / 
                    <a href="#">Instagram</a>
                </div><!-- e:social -->

                <a elem="btn" href="#">Вопросы и ответы</a>

                <div elem="text">В этом разделе собраны самые популярные вопросы и ответы на них</div><!-- e:text -->

            </div><!-- e:left -->
            <div elem="right">
                {% include "b-form.html" %}
            </div><!-- e:right -->
        </div><!-- e:body -->
    </div><!-- e:section -->
</div><!-- b:questions -->