.questions
    padding 70px 0
    background-size cover !important

    @media screen and (max-width 1023px)
        padding 35px 0

    &__body
        display flex
        justify-content space-between

        @media screen and (max-width 767px)
            flex-direction column

    &__left
        width 703px
        max-width 100%
        margin-right 15px

        @media screen and (max-width 767px)
            width 100%
            margin-right 0

    &__title
        font-size 35px
        color #fff
        font-weight 500
        margin-bottom 20px 

        @media screen and (max-width 767px)
            font-size 30px
            margin-bottom 10px

        @media screen and (max-width 639px)
            font-size 28px

    &__desc
        font-size 20px
        color #f3f3f3
        font-weight 400
        line-height 1.5
        margin-bottom 25px
        width 585px
        max-width 100%

        @media screen and (max-width 767px)
            font-size 16px
            margin-bottom 10px
    
    &__social
        font-size 20px
        color #fff
        margin-bottom 70px

        a
            font-size 20px
            color #fff
            font-weight 500
            text-decoration none
            border-bottom 2px solid transparent
            transition border-bottom .3s
            &:hover
                border-bottom 2px solid #00a0e3

        @media screen and (max-width 767px)
            margin-bottom 20px    

    &__btn
        font-size 35px
        color #fff
        font-weight 500
        line-height 1
        text-decoration none
        width 352px
        max-width 100%
        display block
        padding 8px 15px 13px
        margin-bottom 20px
        border-radius 3px
        background #00a0e3 url('../img/questions-answers-icon.png') 95% 50% no-repeat
        transition background-color .3s
        &:hover
            background-color lighten(#00a0e3, 5%)
        &:active
            background-color darken(#00a0e3, 10%)

        @media screen and (max-width 767px)
            margin-bottom 10px    

        @media screen and (max-width 439px)
            font-size 26px

    &__text
        font-size 20px
        color #f3f3f3
        font-weight 400
        line-height 1.5
        width 430px
        max-width 100%
        padding-left 17px 

        @media screen and (max-width 767px)
            font-size 16px
            padding-left 0
            margin-bottom 10px
            width 370px

    &__right
        width 550px
        max-width 100%

        @media screen and (max-width 767px)
            width 100%