<header block="app-header" {% if pageTitle != "Main Page" %} mods="inner-page" {% endif %} mix="block:mt-4">
    <div elem="section" {% if pageTitle != "Main Page" %} mods="inner-page" {% endif %}>
        <div elem="top-line" class="contain">
            {% include "logo.html" %}

            {% include "top-nav.html" %}

            {% include "contacts.html" %}

        </div><!-- e:top-line -->
        
        {% if pageTitle == "Main Page" %}
            {% include "company-preview.html" %}
        {% endif %}
        
    </div><!-- e:section -->
</header><!-- b:app-header -->
