.app-header
    flex none
    margin-bottom 105px
    position relative
    z-index 1

    @media screen and (max-width 959px)
        margin-bottom 0
    
    &--inner-page
        margin-bottom 50px

        @media screen and (max-width 959px)
            margin-bottom 25px

    &__section
        &--inner-page
            border-bottom 1px solid rgba(225, 225, 225, 0.51)

    &__top-line
        display flex
        align-items center
        justify-content space-between
        padding-top 28px
        padding-bottom 27px

        @media screen and (max-width 460px)
            flex-direction column