.news
    margin-bottom 120px

    @media screen and (max-width 960px)
        margin-bottom 40px
    
    &__title
        font-size 35px
        color #232323
        font-weight 500
        margin-bottom 45px

        @media screen and (max-width 768px)
            margin-bottom 15px

        @media screen and (max-width 479px)
            text-align center
            margin-bottom 60px

    &__items
        display flex    
    
    &__item
        width 625px
        max-width 100%
        margin-right 30px
        &:last-child
            margin-right 0

    &__img
        display block
        font-size 0
        text-decoration none
        margin-bottom 35px

        @media screen and (max-width 768px)
            margin-bottom 15px	

    &__name
        font-size 23px
        color #232323
        font-weight 500
        line-height 1.4
        text-decoration none
        display block
        transition color .3s
        margin-bottom 10px
        &:hover
            color #00a0e3 

        @media screen and (max-width 480px)
            font-size 20px    

    &__date
        font-size 16px
        color #696969
        font-weight 400
        margin-bottom 20px

    &__desc
        font-size 20px
        color #575757
        font-weight 400
        padding-right 45px
        
    &__more
        font-size 13px
        color #272727
        font-weight 600
        text-decoration none
        text-transform uppercase
        letter-spacing 1.3px
        position relative
        &:after
            content ''
            position absolute
            right -25px	
            top 50%
            margin-top -3px
            width 13px
            height 7px
            background url(../img/site-arrow.png) 0 0 no-repeat
            transition right .3s
        &:hover
            &:after
                right -30px  

    .owl-carousel 
        position relative

        .owl-nav
            // position absolute
            // top -80px
            // right 0
            // width 94px
            display flex

            // @media screen and (max-width 768px)
            //     top -55px

            // @media screen and (max-width 479px)
            //     right 50%
            //     margin-right -50px    

            .owl-prev,
            .owl-next
                width 38px
                height 38px
                border-radius 50%
                box-shadow 0 0 11px 2px rgba(52, 52, 52, 0.05)
                position absolute
                transition box-shadow .3s
                &:hover
                    box-shadow 0 0 11px 2px rgba(0, 160, 227, 0.47)    
            
            .owl-prev
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                transform rotate(180deg)
                top 145px
                left 5px

                @media screen and (max-width 768px)
                    top 80px

                @media screen and (max-width 640px)
                    top 125px    

                @media screen and (max-width 440px)
                    top 90px

                @media screen and (max-width 320px)
                    top 60px

            .owl-next
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                top 145px
                right 5px          

                @media screen and (max-width 768px)
                    top 80px

                @media screen and (max-width 640px)
                    top 125px     

                @media screen and (max-width 440px)
                    top 90px

                @media screen and (max-width 320px)
                    top 60px