<div block="news">
    <div elem="section" class="contain">
        <div elem="title">Свежие новости</div>
        <div elem="items" class="owl-carousel">
            <div elem="item">
                <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                <a elem="name" href="#">Заголовок последней новости</a>
                <div elem="date">20.05.2018</div><!-- e:date -->
                <div elem="desc">
                    <p>
                        Смотрите наше видео от специалистов нашего магазина. Как и всегда по четвергам, изучаем интересные устройства. Смотрите наше видео от специалистов нашего магазина. Как и всегда по четвергам, изучаем интересные устройства.
                    </p>
                </div><!-- e:desc -->
                <a elem="more" href="#">Читать полностью</a><!-- e:more -->
            </div><!-- e:item -->

            <div elem="item">
                <a elem="img" href="#"><img src="img/news-img2.jpg" alt=""></a>
                <a elem="name" href="#">Заголовок предпоследней новости, длиною в две строки будет находиться тут</a>
                <div elem="date">20.05.2018</div><!-- e:date -->
                <div elem="desc">
                    <p>
                        Смотрите наше видео от специалистов нашего магазина. Как и всегда по четвергам, изучаем интересные устройства. Смотрите наше видео от специалистов нашего магазина. Как и всегда по четвергам, изучаем интересные устройства.
                    </p>
                </div><!-- e:desc -->
                <a elem="more" href="#">Читать полностью</a><!-- e:more -->
            </div><!-- e:item -->

            <div elem="item">
                <a elem="img" href="#"><img src="img/news-img.jpg" alt=""></a>
                <a elem="name" href="#">Заголовок последней новости</a>
                <div elem="date">20.05.2018</div><!-- e:date -->
                <div elem="desc">
                    <p>
                        Смотрите наше видео от специалистов нашего магазина. Как и всегда по четвергам, изучаем интересные устройства. Смотрите наше видео от специалистов нашего магазина. Как и всегда по четвергам, изучаем интересные устройства.
                    </p>
                </div><!-- e:desc -->
                <a elem="more" href="#">Читать полностью</a><!-- e:more -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:news -->