.top-nav

    &__menu
        display flex
        align-items center
        list-style none
        padding-left 0
        margin 0

        li
            margin-right 55px
            &:last-child
                margin-right 0

            a
                font-size 20px
                color #000
                font-weight 400
                line-height 1.1
                text-decoration none
                transition color .3s
                &:hover
                    color #00a2e5    