<nav block="top-nav">
    <ul elem="menu">
        <li><a href="#">О компании</a></li>
        <li><a href="/services-page.html">Услуги</a></li>
        <li><a href="#">Продукты</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Контакты</a></li>
    </ul><!-- e:menu -->
</nav><!-- b:top-nav -->