.b-crumbs

    &__items
        font-size 14px
        color #ababab
        font-weight 400

        span
            color #00a0e3

    &__item
        font-size 14px
        color #00a0e3
        font-weight 400
        text-decoration none
    