<div block="projects">
    <div elem="section">
        <div elem="title">Проекты</div><!-- e:title -->
        <div elem="body">
            <div elem="left">
                <div elem="desc">
                    <p>
                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке.
                    </p>
                    <p>
                        При создании генератора мы использовали небезизвестный универсальный код речей. 
                    </p>
                </div><!-- e:desc -->
                <a elem="more-btn" class="site-btn" href="#">Все проекты нашей компании</a>
            </div><!-- e:left -->
            <div elem="right">
                <div elem="items" class="owl-carousel">
                    {% for item in projectsitem %}
                    <a elem="item" href="#">
                        <div elem="img"><img src="img/{{item.img}}" alt=""></div>
                        <div elem="item-count"><span elem="count"></span></div>
                        <div elem="name">{{item.name}}</div>
                    </a><!-- e:item -->
                    {% endfor %}
                </div><!-- e:items -->
            </div><!-- e:right -->
        </div><!-- e:body -->
        <div elem="bot" mods="mob-show">
            <a elem="more-btn" class="site-btn" mods="mob-show" href="#">Все услуги нашей компании</a>
        </div><!-- e:btn -->
    </div><!-- e:section -->
</div><!-- b:projects -->