.projects
    margin-bottom 110px

    @media screen and (max-width 768px)
        margin-bottom 40px
    
    &__section
        width 1600px
        max-width 100%
        margin-left auto
        padding-left 20px

        @media screen and (max-width 768px)
            padding-left 15px
            padding-right 15px

    &__body
        display flex
        justify-content space-between

        @media screen and (max-width 1279px)
            flex-direction column

    &__left
        width 470px
        max-width 100%
        margin-right 40px
        
        @media screen and (max-width 1279px)
            width 100%
            margin-right 0
            margin-bottom 40px

    &__title
        font-size 35px
        color #232323
        font-weight 500
        margin-bottom 35px

        @media screen and (max-width 639px)
            margin-bottom 20px
    
    &__desc
        font-size 20px
        color #575757
        font-weight 400
        line-height 1.6
        margin-bottom 35px
        
        p
            font-size 20px

    &__more-btn
        min-width 316px

        &--mob-show
            display none

            @media screen and (max-width 1279px)
                display inline-block !important

            @media screen and (max-width 439px)
                min-width auto
                width 100%    

        @media screen and (max-width 1279px)
            margin-left 0
            display none

    &__bot
        display none     

        &--mob-show
            @media screen and (max-width 1279px)
                display block
                text-align center
                margin-top 20px

    &__right
        width 1163px
        max-width 100%

    &__items
        display flex

    &__item
        text-decoration none
        width 297px
        height 392px
        position relative
        z-index 1
        display flex
        flex-direction column
        overflow hidden
        &:hover
            img
                transform scale(1.1)

        @media screen and (max-width 1023px)
            justify-content center        

        @media screen and (max-width 639px)
            margin-right auto
            margin-left auto
    
    &__img
        position absolute
        z-index -1

        img
            transition transform 1s ease-out
    
    &__item-count
        font-size 18px
        color #fff
        font-weight 500
        margin-top 25px
        margin-bottom 22px
        margin-left 20px
        opacity 0.71

        @media screen and (max-width 1023px)
            display none
        
        &:after
            content ''
            width 1px
            height 186px
            margin-top 15px
            background-color #ffffff
            opacity 0.45
            display block

    &__count
        transform rotate(-90deg)
        display inline-block
        vertical-align top 
        width 20px
        height 20px
        margin-right 27px
        margin-left -10px
        &:before
            content '0'

    &__name
        font-size 21px
        color #fff
        font-weight 500
        margin-left 47px
        margin-right 57px

    .owl-carousel 
        position relative
        height 392px

        .owl-nav
            // position absolute
            // top -75px
            // right 50%
            // width 94px
            display flex
            // margin-right -240px

            // @media screen and (max-width 1366px)
            //     margin-right -425px

            // @media screen and (max-width 1279px)
            //     margin-right -50px
            //     top -60px    

            .owl-prev,
            .owl-next
                width 38px
                height 38px
                border-radius 50%
                box-shadow 0 0 11px 2px rgba(52, 52, 52, 0.05)
                transition box-shadow .3s
                position absolute
                &:hover
                    box-shadow 0 0 11px 2px rgba(0, 160, 227, 0.47)    
            
            .owl-prev
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                transform rotate(180deg)
                // margin-right 18px
                top 50%
                margin-top -30px
                left 5px
            .owl-next
                top 50%
                margin-top -30px
                right 5px
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat