.company-preview
    
    &__section
        width 1659px
        max-width 100%
        margin-right auto
        margin-left auto
        height 773px
        position relative

        @media screen and (max-width 639px)
            height 670px

        @media screen and (max-width 479px)
            height 500px

    &__overlay-mob
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display none
        background linear-gradient(to right, rgba(69, 72, 77, 0.60) 0%, rgba(0, 0, 0, 0.40) 100%)
        
        @media screen and (max-width 768px)
            display block

    &__body
        padding-top 215px
        display flex
        justify-content space-between
        position relative

        @media screen and (max-width 1023px)
            padding-top 100px

        @media screen and (max-width 639px)
            padding-top 50px
            flex-direction column


    &__info
        width 520px
        max-width 100%

        @media screen and (max-width 639px)
            margin-bottom 20px
    
    &__title
        font-size 60px
        color #fff
        font-weight 500
        line-height 1.3
        margin-bottom 25px

        @media screen and (max-width 1023px)
            font-size 50px

        @media screen and (max-width 767px)
            font-size 46px    

        @media screen and (max-width 479px)
            font-size 34px

    &__desc
        font-size 28px
        color #fff
        line-height 1.6
        font-weight 400
        margin-bottom 75px

        @media screen and (max-width 1023px)
            font-size 24px
            margin-bottom 50px

        @media screen and (max-width 767px)
            font-size 22px
        @media screen and (max-width 479px)
            font-size 18px
            margin-bottom 20px

    &__numbers
        width 230px
        max-width 100%
        align-self flex-end
        margin-bottom -120px

        @media screen and (max-width 767px)
            margin-bottom -180px

        @media screen and (max-width 639px)
            margin-bottom 0
            align-self flex-start
            
    &__number
        font-size 70px
        color #fff
        font-weight 500
        line-height 1
        margin-bottom 15px

        @media screen and (max-width 479px)
            font-size 50px

    &__number-text
        font-size 20px
        color #fff
        line-height 1.6
        font-weight 400

    &__scroll
        color #fff
        font-size 16px
        font-weight 500
        text-align right
        border-bottom 1px solid #fff
        padding-bottom 10px
        margin-left -50px
        width 109px
        position absolute
        bottom -180px
        left 50%
        transform rotate(-90deg)
        &:after
            content ''
            position absolute
            bottom -15px
            left 50%
            width 3px
            height 29px
            background-color #ffffff
            transform rotate(-90deg)

        @media screen and (max-width 1023px)
            bottom -50%
            margin-bottom -150px

        @media screen and (max-width 639px)
            display none    