<div block="company-preview">
    <div elem="section" style="background: #36403e url('img/main-img.jpg') 50% 0 no-repeat;">
        <div elem="overlay-mob"></div>
        <div elem="body" class="contain">
            <div elem="info">
                <div elem="title">Тета-Инжиниринг</div>
                <div elem="desc">Выстраивание единой системы управления стоимостью проектом</div>
                <a elem="btn" class="site-btn" href="#">узнать Подробнее</a>
            </div><!-- e:info -->
            <div elem="numbers">
                <div elem="number">75%</div>
                <div elem="number-text">Здесь будет идти описание главной цифры в 3-4 строки очень длинным описанием</div>
            </div><!-- e:numbers -->

            <div elem="scroll">Листать вниз</div><!-- e:scroll -->

        </div><!-- e:body -->
    </div><!-- e:section -->
</div><!-- b:company-preview -->