::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

/* IE 10+ */
::-webkit-input-placeholder
    color : $placeholders.normal
:-moz-placeholder
    color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
    color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
    color : $placeholders.normal

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus

*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box
    outline none

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

blockquote
    font-style       : $blockquote.font.style
    padding          : 15px
    padding-left     : $blockquote.gutter
    border-left      : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    font-weight    : $headings.weight
    color          : $headings.color
    text-transform : $headings.transform
    
    &::-moz-selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

    &::selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

template, /* 1 */
[hidden]
    display none

// font weights
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

svg:not(:root)
    overflow hidden

h1
    font-size 35px
    color #232323
    font-weight 500

    @media screen and (max-width 480px)
        font-size 30px

h2
    font-size 28px
    color #232323
    font-weight 500

    @media screen and (max-width 480px)
        font-size 26px

p	
    font-size 18px
    color #575757
    font-weight 400
    line-height 1.5
    margin-top 0
    margin-bottom 20px

.contain
    width 1310px
    max-width 100%
    padding 0 15px
    margin 0 auto

.site-btn
    font-size 13px
    color #fff
    font-weight 600
    line-height 38px
    text-transform uppercase
    text-decoration none
    letter-spacing 1.3px
    text-align center
    border none
    border-radius 37px
    background-color #00a0e3
    display inline-block
    vertical-align top
    min-width 245px
    padding 17px 15px 18px
    transition background-color .3s
    cursor pointer
    &:hover
        background-color lighten(#00a0e3, 5%)
    &:active
        background-color darken(#00a0e3, 10%)

    @media screen and (max-width 440px) 
        font-size 11px
        padding-right 10px  

span
    &.selected-name
        position relative
        z-index 1
        &:after
            content ''
            position absolute
            left 0
            bottom 4px
            width 100%
            height 3px
            background-color #00a0e3
            z-index -1

input[type="text"]
    font-size 18px
    color #575757
    font-family inherit
    font-weight 400
    width 100%
    border-radius 4px
    background-color #fff
    padding 26px 20px 27px
    border none
    margin-bottom 15px

textarea
    font-size 18px
    color #575757
    font-family inherit
    font-weight 400
    width 100%
    min-height 170px
    border-radius 4px
    background-color #fff
    padding 30px 24px
    border-radius 4px

::-webkit-input-placeholder 
    font-size 18px
    color #575757
    font-weight 400

::-moz-placeholder
    font-size 18px
    color #575757
    font-weight 400

:-moz-placeholder
    font-size 18px
    color #575757
    font-weight 400

:-ms-input-placeholder
    font-size 18px
    color #575757
    font-weight 400
    