// @font-face {
//   font-family: 'Futura';
//   src: 
//     url("../fonts/FuturaPTBook.otf") format("otf"); /* Modern Browsers */
//   font-weight: 400;
//   font-style: normal;
// }
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Book.eot"); /* IE9 Compat Modes */
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FuturaPT-Book.ttf") format("truetype"); /* Safari, Android, iOS */
    url("../fonts/FuturaPT-Book.woff") format("woff"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Futura';
//   src: 
//     url("../fonts/FuturaPTDemi.otf") format("otf"); /* Modern Browsers */
//   font-weight: 500;
//   font-style: normal;
// }
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Demi.eot"); /* IE9 Compat Modes */
  src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FuturaPT-Demi.ttf") format("truetype"); /* Safari, Android, iOS */
    url("../fonts/FuturaPT-Demi.woff") format("woff"); /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

// @font-face {
//   font-family: 'Futura';
//   src: 
//     url("../fonts/FuturaPTHeavy.otf") format("otf"); /* Modern Browsers */
//   font-weight: 600;
//   font-style: normal;
// }
@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/FuturaPT-Heavy.ttf") format("truetype"); /* Safari, Android, iOS */
    url("../fonts/FuturaPT-Heavy.woff") format("woff"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}
