::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 17px;
  font-family: "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  color: #232323;
  font-weight: 500;
}

p {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 20px;
}

.contain {
  width: 1310px;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.site-btn {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.3px;
  text-align: center;
  border: none;
  border-radius: 37px;
  background-color: #00a0e3;
  display: inline-block;
  vertical-align: top;
  min-width: 245px;
  padding: 17px 15px 18px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.site-btn:hover, .site-btn:focus {
  background-color: #00aaf1;
}

.site-btn:active {
  background-color: #0090cc;
}

span.selected-name {
  position: relative;
  z-index: 1;
}

span.selected-name:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 3px;
  background-color: #00a0e3;
  z-index: -1;
}

input[type="text"] {
  font-size: 18px;
  color: #575757;
  font-family: inherit;
  font-weight: 400;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  padding: 26px 20px 27px;
  border: none;
  margin-bottom: 15px;
}

textarea {
  font-size: 18px;
  color: #575757;
  font-family: inherit;
  font-weight: 400;
  width: 100%;
  min-height: 170px;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px 24px;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
}

::-moz-placeholder {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
}

:-moz-placeholder {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
}

:-ms-input-placeholder {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Demi.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  /* Safari, Android, iOS */
  /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #e7e7e7;
}

.app-footer__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.app-footer__item--mod {
  padding-top: 10px;
}

.app-footer__bot-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-footer__bot-line a {
  font-size: 14px;
  color: #575757;
  font-weight: 400;
  text-decoration: underline;
}

.app-footer__bot-line a:hover, .app-footer__bot-line a:focus {
  text-decoration: none;
}

.app-footer__dev-site {
  width: 310px;
  max-width: 100%;
}

.app-header {
  -ms-flex: none;
      flex: none;
  margin-bottom: 105px;
  position: relative;
  z-index: 1;
}

.app-header--inner-page {
  margin-bottom: 50px;
}

.app-header__section--inner-page {
  border-bottom: 1px solid rgba(225,225,225,0.51);
}

.app-header__top-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 27px;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  width: 1920px;
  max-width: 100%;
  margin: 0 auto;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.about-company {
  padding-top: 280px;
  margin-top: -280px;
  margin-bottom: 120px;
  background: #f5f9fc url("../img/inner-page-block-bg.png") 50% 100% no-repeat;
}

.about-company__section {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 100px;
  background: url("../img/name-company-pic.png") 50% 0 no-repeat;
  background-size: contain;
}

.about-company__body {
  width: 750px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.about-company__title {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  padding-left: 90px;
  margin-bottom: 80px;
}

.about-company__desc {
  font-size: 20px;
  color: #575757;
  font-weight: 400;
  line-height: 1.5;
  padding: 5px 0 15px 90px;
  position: relative;
  height: 320px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.about-company__desc p {
  margin-top: 0;
  margin-bottom: 25px;
}

.about-company .scrollbox-horizontal-rail,
.about-company .scrollbox-horizontal-bar {
  display: none;
}

.about-company .scrollbox-vertical-rail,
.about-company .scrollbox-vertical-bar {
  right: auto;
  left: 0;
}

.about-company .scrollbox-rail {
  width: 2px;
  background-color: #282828;
  opacity: 0.1;
}

.about-company .scrollbox-vertical-bar {
  left: -1px;
}

.about-company .scrollbox-bar {
  width: 5px;
  height: 27px;
  border-radius: 3px;
  background-color: #00a0e3;
}

.b-form__section.success {
  display: none;
}

.b-form__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.b-form__item {
  position: relative;
}

.b-form__item input[type="text"] {
  padding: 26px 20px 27px 50px;
}

.b-form__item--name {
  width: 49%;
  margin-right: 11px;
}

.b-form__item--phone {
  width: 49%;
}

.b-form__item--email {
  width: 100%;
}

.b-form__item--message {
  width: 100%;
}

.b-form__icon {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 27px;
  left: 20px;
}

.b-form__icon img {
  max-width: 100%;
}

.b-form__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-form__personal-data {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  width: 300px;
  max-width: 100%;
  margin-right: 20px;
}

.b-form__btn-send {
  min-width: 225px;
}

.b-form__send-success {
  font-size: 24px;
  color: #575757;
  font-weight: 500;
  display: none;
  width: 550px;
  max-width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 5px;
  margin-top: 20%;
}

.b-form__send-success.success {
  display: block;
}

.company-preview__section {
  width: 1659px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 773px;
  position: relative;
}

.company-preview__overlay-mob {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(to right, rgba(69,72,77,0.6) 0%, rgba(0,0,0,0.4) 100%);
}

.company-preview__body {
  padding-top: 215px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}

.company-preview__info {
  width: 520px;
  max-width: 100%;
}

.company-preview__title {
  font-size: 60px;
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 25px;
}

.company-preview__desc {
  font-size: 28px;
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 75px;
}

.company-preview__numbers {
  width: 230px;
  max-width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: -120px;
}

.company-preview__number {
  font-size: 70px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 15px;
}

.company-preview__number-text {
  font-size: 20px;
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
}

.company-preview__scroll {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-left: -50px;
  width: 109px;
  position: absolute;
  bottom: -180px;
  left: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.company-preview__scroll:after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 3px;
  height: 29px;
  background-color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: right;
}

.contacts--footer {
  text-align: left;
  width: 210px;
}

.contacts--footer .contacts__title {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
  margin-bottom: 15px;
}

.contacts__phone {
  font-size: 21px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.1;
  cursor: default;
  margin-bottom: 10px;
}

.contacts__call-back {
  color: #00a0e3;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.65px;
  display: inline-block;
  vertical-align: top;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-bottom: 3px;
  border-bottom: 1px solid #00a0e3;
  transition: border-bottom 0.3s;
}

.contacts__call-back:hover, .contacts__call-back:focus {
  border-bottom: 1px solid transparent;
}

.contacts--footer {
  width: 250px;
}

.content-text {
  margin-bottom: 30px;
}

.content-text__section {
  transition: height 0.3s;
}

.content-text__section--mobile {
  height: 190px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.content-text p {
  font-size: 20px;
  margin-bottom: 10px;
}

.content-text--type2 p {
  font-size: 18px;
}

.content-text .readmore-js-toggle {
  font-size: 18px;
  color: #00a0e3;
  text-align: right;
  padding-bottom: 3px;
  border-bottom: 1px solid #00a0e3;
  display: inline-block;
  width: auto;
}

.b-crumbs__items {
  font-size: 14px;
  color: #ababab;
  font-weight: 400;
}

.b-crumbs__items span {
  color: #00a0e3;
}

.b-crumbs__item {
  font-size: 14px;
  color: #00a0e3;
  font-weight: 400;
  text-decoration: none;
}

.footer-nav {
  width: 320px;
  max-width: 100%;
  margin-left: 5px;
}

.footer-nav__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer-nav__menu li {
  width: 50%;
  margin-top: 10px;
}

.footer-nav__menu li a {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
  text-decoration: none;
}

.footer-nav__menu li a:hover, .footer-nav__menu li a:focus {
  color: #00a0e3;
  text-decoration: underline;
}

.form-popup {
  border-radius: 5px;
}

.form-popup__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-popup__item {
  position: relative;
}

.form-popup__item input[type="text"] {
  padding: 26px 20px 27px 50px;
}

.form-popup__item--name {
  width: 49%;
  margin-right: 11px;
}

.form-popup__item--phone {
  width: 49%;
}

.form-popup__item--email {
  width: 100%;
}

.form-popup__item--message {
  width: 100%;
}

.form-popup__icon {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  left: 20px;
}

.form-popup__icon img {
  max-width: 100%;
}

.form-popup__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.form-popup__personal-data {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  width: 300px;
  max-width: 100%;
  margin-right: 20px;
}

.form-popup__btn-send {
  min-width: 225px;
}

.form-popup__send-success {
  font-size: 24px;
  color: #575757;
  font-weight: 500;
  display: none;
}

.form-popup__send-success.success {
  display: block;
}

.form-popup__section.success {
  display: none;
}

.form-popup__item {
  width: 100%;
}

.form-popup__item input[type="text"],
.form-popup__item textarea {
  padding: 16px 10px 17px 50px;
  border: 1px solid #00aaf1;
}

.form-popup__item textarea {
  padding-left: 20px;
}

.form-popup__item--name {
  margin-right: 0;
}

.form-popup__icon {
  top: 16px;
}

.form-popup__bot {
  -ms-flex-direction: column;
      flex-direction: column;
}

.form-popup__personal-data {
  color: #575757;
  -ms-flex-order: 1;
      order: 1;
}

.form-popup__btn-send {
  margin-bottom: 10px;
}

.logo {
  width: 189px;
  max-width: 100%;
}

.logo__img img {
  max-width: 100%;
}

.mobile-panel {
  padding: 10px 15px 15px;
  border-bottom: 1px solid #f7f7f7;
  display: none;
}

.mobile-panel__item {
  position: relative;
}

.mobile-panel__burger-btn {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.mobile-panel__burger-btn .svg-icon {
  fill: #00a0e3;
  width: 28px;
  height: 28px;
}

.mobile-panel__nav {
  position: absolute;
  top: 40px;
  left: -15px;
  padding: 15px;
  background-color: #fff;
  max-width: 100%;
  width: 320px;
  display: none;
  box-shadow: 1px 9px 20px 0px #ccc;
  z-index: 5;
}

.mobile-panel__nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: block;
}

.mobile-panel__nav ul li {
  margin-bottom: 20px;
  position: relative;
  margin-right: 0;
}

.mobile-panel__nav ul li:last-child {
  margin-bottom: 0;
}

.mobile-panel__nav ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #5b5b5b;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.mobile-panel__nav ul li a:hover, .mobile-panel__nav ul li a:focus {
  color: #00a2e5;
}

.news {
  margin-bottom: 120px;
}

.news__title {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  margin-bottom: 45px;
}

.news__items {
  display: -ms-flexbox;
  display: flex;
}

.news__item {
  width: 625px;
  max-width: 100%;
  margin-right: 30px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  display: block;
  font-size: 0;
  text-decoration: none;
  margin-bottom: 35px;
}

.news__name {
  font-size: 23px;
  color: #232323;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  display: block;
  transition: color 0.3s;
  margin-bottom: 10px;
}

.news__name:hover, .news__name:focus {
  color: #00a0e3;
}

.news__date {
  font-size: 16px;
  color: #696969;
  font-weight: 400;
  margin-bottom: 20px;
}

.news__desc {
  font-size: 20px;
  color: #575757;
  font-weight: 400;
  padding-right: 45px;
}

.news__more {
  font-size: 13px;
  color: #272727;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  position: relative;
}

.news__more:after {
  content: '';
  position: absolute;
  right: -25px;
  top: 50%;
  margin-top: -3px;
  width: 13px;
  height: 7px;
  background: url("../img/site-arrow.png") 0 0 no-repeat;
  transition: right 0.3s;
}

.news__more:hover:after, .news__more:focus:after {
  right: -30px;
}

.news .owl-carousel {
  position: relative;
}

.news .owl-carousel .owl-nav {
  display: -ms-flexbox;
  display: flex;
}

.news .owl-carousel .owl-nav .owl-prev,
.news .owl-carousel .owl-nav .owl-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 11px 2px rgba(52,52,52,0.05);
  position: absolute;
  transition: box-shadow 0.3s;
}

.news .owl-carousel .owl-nav .owl-prev:hover,
.news .owl-carousel .owl-nav .owl-next:hover,
.news .owl-carousel .owl-nav .owl-prev:focus,
.news .owl-carousel .owl-nav .owl-next:focus {
  box-shadow: 0 0 11px 2px rgba(0,160,227,0.47);
}

.news .owl-carousel .owl-nav .owl-prev {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 145px;
  left: 5px;
}

.news .owl-carousel .owl-nav .owl-next {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  top: 145px;
  right: 5px;
}

.our-products {
  margin-bottom: 85px;
}

.our-products__title {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  margin-bottom: 50px;
}

.our-products__items {
  display: -ms-flexbox;
  display: flex;
}

.our-products__item:hover .our-products__name, .our-products__item:focus .our-products__name {
  color: #00a0e3;
}

.our-products__img {
  width: 310px;
  height: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.our-products__img img {
  max-width: 100%;
}

.our-products__name {
  font-size: 18px;
  color: #232323;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 300px;
  margin-top: -50px;
  transition: color 0.3s;
}

.our-products .owl-carousel {
  position: relative;
}

.our-products .owl-carousel .owl-item img {
  display: inline;
  width: auto;
  max-width: 100%;
}

.our-products .owl-carousel .owl-nav .owl-prev,
.our-products .owl-carousel .owl-nav .owl-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 11px 2px rgba(52,52,52,0.05);
  position: absolute;
  transition: box-shadow 0.3s;
}

.our-products .owl-carousel .owl-nav .owl-prev:hover,
.our-products .owl-carousel .owl-nav .owl-next:hover,
.our-products .owl-carousel .owl-nav .owl-prev:focus,
.our-products .owl-carousel .owl-nav .owl-next:focus {
  box-shadow: 0 0 11px 2px rgba(0,160,227,0.47);
}

.our-products .owl-carousel .owl-nav .owl-prev {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 50%;
  left: -10px;
  margin-top: -30px;
}

.our-products .owl-carousel .owl-nav .owl-next {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  top: 50%;
  right: -10px;
  margin-top: -30px;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.partners {
  margin-bottom: 110px;
}

.partners__title {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  margin-bottom: 40px;
}

.partners__items {
  display: -ms-flexbox;
  display: flex;
}

.partners__item {
  width: 255px;
  border: 1px solid #ededed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: border 0.3s;
}

.partners__item:hover, .partners__item:focus {
  border: 1px solid #00a0e3;
}

.partners__img {
  display: block;
  font-size: 0;
  text-align: center;
}

.partners__img img {
  display: block;
  margin: auto;
}

.partners .owl-carousel {
  position: relative;
}

.partners .owl-carousel .owl-stage {
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.partners .owl-carousel .owl-item {
  display: -ms-flexbox;
  display: flex;
}

.partners .owl-carousel .owl-nav .owl-prev,
.partners .owl-carousel .owl-nav .owl-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 11px 2px rgba(52,52,52,0.05);
  position: absolute;
  transition: box-shadow 0.3s;
}

.partners .owl-carousel .owl-nav .owl-prev:hover,
.partners .owl-carousel .owl-nav .owl-next:hover,
.partners .owl-carousel .owl-nav .owl-prev:focus,
.partners .owl-carousel .owl-nav .owl-next:focus {
  box-shadow: 0 0 11px 2px rgba(0,160,227,0.47);
}

.partners .owl-carousel .owl-nav .owl-prev {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 50%;
  left: -10px;
  margin-top: -20px;
}

.partners .owl-carousel .owl-nav .owl-next {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  top: 50%;
  right: -10px;
  margin-top: -20px;
}

.projects {
  margin-bottom: 110px;
}

.projects__section {
  width: 1600px;
  max-width: 100%;
  margin-left: auto;
  padding-left: 20px;
}

.projects__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.projects__left {
  width: 470px;
  max-width: 100%;
  margin-right: 40px;
}

.projects__title {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  margin-bottom: 35px;
}

.projects__desc {
  font-size: 20px;
  color: #575757;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 35px;
}

.projects__desc p {
  font-size: 20px;
}

.projects__more-btn {
  min-width: 316px;
}

.projects__more-btn--mob-show {
  display: none;
}

.projects__bot {
  display: none;
}

.projects__right {
  width: 1163px;
  max-width: 100%;
}

.projects__items {
  display: -ms-flexbox;
  display: flex;
}

.projects__item {
  text-decoration: none;
  width: 297px;
  height: 392px;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.projects__item:hover img, .projects__item:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.projects__img {
  position: absolute;
  z-index: -1;
}

.projects__img img {
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.projects__item-count {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 22px;
  margin-left: 20px;
  opacity: 0.71;
}

.projects__item-count:after {
  content: '';
  width: 1px;
  height: 186px;
  margin-top: 15px;
  background-color: #fff;
  opacity: 0.45;
  display: block;
}

.projects__count {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 27px;
  margin-left: -10px;
}

.projects__count:before {
  content: '0';
}

.projects__name {
  font-size: 21px;
  color: #fff;
  font-weight: 500;
  margin-left: 47px;
  margin-right: 57px;
}

.projects .owl-carousel {
  position: relative;
  height: 392px;
}

.projects .owl-carousel .owl-nav {
  display: -ms-flexbox;
  display: flex;
}

.projects .owl-carousel .owl-nav .owl-prev,
.projects .owl-carousel .owl-nav .owl-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: 0 0 11px 2px rgba(52,52,52,0.05);
  transition: box-shadow 0.3s;
  position: absolute;
}

.projects .owl-carousel .owl-nav .owl-prev:hover,
.projects .owl-carousel .owl-nav .owl-next:hover,
.projects .owl-carousel .owl-nav .owl-prev:focus,
.projects .owl-carousel .owl-nav .owl-next:focus {
  box-shadow: 0 0 11px 2px rgba(0,160,227,0.47);
}

.projects .owl-carousel .owl-nav .owl-prev {
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 50%;
  margin-top: -30px;
  left: 5px;
}

.projects .owl-carousel .owl-nav .owl-next {
  top: 50%;
  margin-top: -30px;
  right: 5px;
  background: #fff url("../img/site-arrow.png") 50% 50% no-repeat;
}

.questions {
  padding: 70px 0;
  background-size: cover !important;
}

.questions__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.questions__left {
  width: 703px;
  max-width: 100%;
  margin-right: 15px;
}

.questions__title {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.questions__desc {
  font-size: 20px;
  color: #f3f3f3;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 25px;
  width: 585px;
  max-width: 100%;
}

.questions__social {
  font-size: 20px;
  color: #fff;
  margin-bottom: 70px;
}

.questions__social a {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.questions__social a:hover, .questions__social a:focus {
  border-bottom: 2px solid #00a0e3;
}

.questions__btn {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  width: 352px;
  max-width: 100%;
  display: block;
  padding: 8px 15px 13px;
  margin-bottom: 20px;
  border-radius: 3px;
  background: #00a0e3 url("../img/questions-answers-icon.png") 95% 50% no-repeat;
  transition: background-color 0.3s;
}

.questions__btn:hover, .questions__btn:focus {
  background-color: #00aaf1;
}

.questions__btn:active {
  background-color: #0090cc;
}

.questions__text {
  font-size: 20px;
  color: #f3f3f3;
  font-weight: 400;
  line-height: 1.5;
  width: 430px;
  max-width: 100%;
  padding-left: 17px;
}

.questions__right {
  width: 550px;
  max-width: 100%;
}

.services {
  margin-bottom: 120px;
}

.services__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.services__left {
  width: 350px;
  max-width: 100%;
  margin-right: 40px;
  position: relative;
  z-index: 1;
}

.services__left:after {
  content: '6';
  color: #f5f9fc;
  font-size: 662px;
  font-weight: 500;
  line-height: 0.6;
  position: absolute;
  right: 45px;
  bottom: 180px;
  z-index: -1;
}

.services__title {
  font-size: 35px;
  color: #232323;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 40px;
}

.services__desc {
  font-size: 20px;
  color: #575757;
  font-weight: 400;
  line-height: 1.6;
  padding-left: 27px;
  margin-bottom: 35px;
}

.services__more-btn {
  min-width: 316px;
  margin-left: 27px;
}

.services__more-btn--mob-show {
  display: none;
}

.services__bot {
  display: none;
}

.services__right {
  width: 845px;
  max-width: 100%;
}

.services__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item:not(.services--inner) {
  width: 407px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 55px 20px 44px 32px;
  box-shadow: 0 0 33px 5px rgba(52,52,52,0.04);
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 35px;
}

.services__icon {
  font-size: 0;
  width: 55px;
  height: 55px;
  text-align: center;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  margin-right: 20px;
}

.services__name {
  color: #232323;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 60px;
}

.services__text-more {
  color: #272727;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.3px;
  position: relative;
}

.services__text-more:after {
  content: '';
  position: absolute;
  right: -25px;
  top: 50%;
  margin-top: -3px;
  width: 13px;
  height: 7px;
  background: url("../img/site-arrow.png") 0 0 no-repeat;
  transition: right 0.3s;
}

.services__text-more:hover:after, .services__text-more:focus:after {
  right: -30px;
}

.services--inner {
  padding-top: 55px;
  padding-bottom: 25px;
  margin-bottom: 65px;
  background: #f5f9fc url("../img/inner-page-block-bg.png") 50% 100% no-repeat;
  background-size: cover;
}

.services--inner .services__item {
  width: 407px;
  max-width: 100%;
  height: 267px;
  text-decoration: none;
  position: relative;
  padding: 0;
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  z-index: 1;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.services--inner .services__item:hover img, .services--inner .services__item:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.services--inner .services__item:last-child {
  margin-bottom: 0;
}

.services--inner .services__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.services--inner .services__img img {
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

.services--inner .services__text {
  padding: 0 50px 40px 40px;
  margin-top: auto;
}

.services--inner .services__name {
  color: #fff;
  margin-bottom: 0;
}

.social-links__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.social-links__item {
  margin-right: 10px;
}

.social-links__icon {
  width: 24px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #000;
  display: block;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: border 0.3s;
}

.social-links__icon:hover, .social-links__icon:focus {
  border: 1px solid #00a0e3;
}

.social-links__icon img {
  max-width: 100%;
}

.top-nav__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.top-nav__menu li {
  margin-right: 55px;
}

.top-nav__menu li:last-child {
  margin-right: 0;
}

.top-nav__menu li a {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 1.1;
  text-decoration: none;
  transition: color 0.3s;
}

.top-nav__menu li a:hover, .top-nav__menu li a:focus {
  color: #00a2e5;
}

.we-are {
  width: 310px;
  max-width: 100%;
}

.we-are__title {
  font-size: 18px;
  color: #575757;
  font-weight: 400;
  margin-bottom: 15px;
}

.we-are__address {
  font-size: 16px;
  color: #202020;
  font-weight: 400;
  margin-bottom: 25px;
}

@media screen and (max-width: 1279px) {
  .b-form__item--name {
    margin-right: 0;
  }

  .b-form__item {
    width: 100%;
  }

  .form-popup__item--name {
    margin-right: 0;
  }

  .form-popup__item {
    width: 100%;
  }

  .projects__body {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .projects__left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .projects__more-btn--mob-show {
    display: inline-block !important;
  }

  .projects__more-btn {
    margin-left: 0;
    display: none;
  }

  .projects__bot--mob-show {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .services__body {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .services__left:after {
    display: none;
  }

  .services__left {
    width: 100%;
  }

  .services__title {
    margin-bottom: 20px;
  }

  .services__desc {
    padding-left: 0;
  }

  .services__more-btn--mob-show {
    display: inline-block !important;
  }

  .services__more-btn {
    margin-left: 0;
    display: none;
  }

  .services__bot--mob-show {
    display: block;
    text-align: center;
  }

  .services__right {
    width: 100%;
  }

  .services__item:not(.services--inner) {
    width: 48%;
    min-width: 396px;
  }

  .services--inner .services__item {
    width: 407px;
    min-width: auto;
  }
}

@media screen and (max-width: 1100px) {
  .mobile-panel {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .b-form__bot {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-form__personal-data {
    text-align: center;
    margin-right: 0;
    margin-top: 15px;
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
  }

  .company-preview__body {
    padding-top: 100px;
  }

  .company-preview__title {
    font-size: 50px;
  }

  .company-preview__desc {
    font-size: 24px;
    margin-bottom: 50px;
  }

  .company-preview__scroll {
    bottom: -50%;
    margin-bottom: -150px;
  }

  .form-popup__bot {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .form-popup__personal-data {
    text-align: center;
    margin-right: 0;
    margin-top: 15px;
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
  }

  .projects__item {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .projects__item-count {
    display: none;
  }

  .questions {
    padding: 35px 0;
  }
}

@media screen and (max-width: 960px) {
  .b-form__send-success {
    padding: 25px;
    font-size: 18px;
  }

  .form-popup__send-success {
    font-size: 18px;
  }

  .news {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 959px) {
  .app-header {
    margin-bottom: 0;
  }

  .app-header--inner-page {
    margin-bottom: 25px;
  }

  .about-company {
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: 40px;
  }

  .about-company__section {
    background: none;
    padding-bottom: 0;
  }

  .about-company__body {
    width: 100%;
  }

  .about-company__title {
    margin-bottom: 30px;
    padding-left: 0;
  }

  .about-company__desc {
    border: none;
    padding-left: 15px;
  }

  .partners__title {
    text-align: center;
  }

  .partners__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media screen and (max-width: 843px) {
  .services--inner .services__items {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media screen and (max-width: 821px) {
  .services__item:not(.services--inner) {
    width: 100%;
    min-width: auto;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }

  .services--inner .services__item {
    width: 407px;
    min-width: auto;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

@media screen and (max-width: 800px) {
  .footer-nav {
    width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .company-preview__overlay-mob {
    display: block;
  }

  .news__title {
    margin-bottom: 15px;
  }

  .news__img {
    margin-bottom: 15px;
  }

  .news .owl-carousel .owl-nav .owl-prev {
    top: 80px;
  }

  .news .owl-carousel .owl-nav .owl-next {
    top: 80px;
  }

  .our-products {
    margin-bottom: 40px;
  }

  .partners {
    margin-bottom: 40px;
  }

  .projects {
    margin-bottom: 40px;
  }

  .projects__section {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services {
    margin-bottom: 40px;
  }

  .services--inner {
    padding-top: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .b-form__send-success {
    width: 100%;
    margin-top: 10px;
  }

  .company-preview__title {
    font-size: 46px;
  }

  .company-preview__desc {
    font-size: 22px;
  }

  .company-preview__numbers {
    margin-bottom: -180px;
  }

  .questions__body {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .questions__left {
    width: 100%;
    margin-right: 0;
  }

  .questions__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .questions__desc {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .questions__social {
    margin-bottom: 20px;
  }

  .questions__btn {
    margin-bottom: 10px;
  }

  .questions__text {
    font-size: 16px;
    padding-left: 0;
    margin-bottom: 10px;
    width: 370px;
  }

  .questions__right {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .footer-nav {
    margin-bottom: 20px;
    width: 320px;
  }
}

@media screen and (max-width: 640px) {
  .about-company__section {
    text-align: left;
  }

  .about-company__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
  }

  .news .owl-carousel .owl-nav .owl-prev {
    top: 125px;
  }

  .news .owl-carousel .owl-nav .owl-next {
    top: 125px;
  }
}

@media screen and (max-width: 639px) {
  .company-preview__section {
    height: 670px;
  }

  .company-preview__body {
    padding-top: 50px;
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .company-preview__info {
    margin-bottom: 20px;
  }

  .company-preview__numbers {
    margin-bottom: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .company-preview__scroll {
    display: none;
  }

  .our-products__name {
    margin-right: auto;
    margin-left: auto;
  }

  .partners__title {
    margin-bottom: 20px;
  }

  .projects__title {
    margin-bottom: 20px;
  }

  .projects__item {
    margin-right: auto;
    margin-left: auto;
  }

  .questions__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 549px) {
  .app-footer {
    padding: 25px 0;
  }

  .app-footer__items {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 544px) {
  .app-footer__bot-line a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  .about-company__title {
    font-size: 24px;
  }

  .form-popup__item textarea {
    min-height: 100px;
  }

  .form-popup__icon {
    top: 19px;
  }

  .form-popup__btn-send {
    min-width: auto;
    width: 100%;
    margin-bottom: 5px;
  }

  .news__name {
    font-size: 20px;
  }

  .our-products__title {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 479px) {
  .company-preview__section {
    height: 500px;
  }

  .company-preview__title {
    font-size: 34px;
  }

  .company-preview__desc {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .company-preview__number {
    font-size: 50px;
  }

  .news__title {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 460px) {
  .app-header__top-line {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .contacts {
    text-align: center;
  }

  .contacts--footer {
    text-align: left;
  }

  .logo {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 440px) {
  .site-btn {
    font-size: 11px;
    padding-right: 10px;
  }

  .news .owl-carousel .owl-nav .owl-prev {
    top: 90px;
  }

  .news .owl-carousel .owl-nav .owl-next {
    top: 90px;
  }
}

@media screen and (max-width: 439px) {
  .projects__more-btn--mob-show {
    min-width: auto;
    width: 100%;
  }

  .questions__btn {
    font-size: 26px;
  }

  .services__more-btn--mob-show {
    min-width: auto;
    width: 100%;
  }

  .services__item:not(.services--inner) {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    padding: 15px;
  }

  .services__icon {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .services__name .selected-name:after {
    display: none;
  }

  .services--inner .services__item {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    padding: 15px;
  }
}

@media screen and (max-width: 375px) {
  .about-company__title {
    font-size: 18px;
  }

  .our-products__img {
    width: 285px;
  }
}

@media screen and (max-width: 320px) {
  .news .owl-carousel .owl-nav .owl-prev {
    top: 60px;
  }

  .news .owl-carousel .owl-nav .owl-next {
    top: 60px;
  }
}