<div block="services">
    <div elem="section" class="contain">
        <div elem="body">
            <div elem="left">
                <div elem="title">Услуги</div><!-- e:title -->
                <div elem="desc">
                    <p>
                        В области стоимостного инжиниринга, основанный группой профессионалов
                        с опытом работы в коммерческих и государственных структурах более 10 лет, том числе уполномоченных на реализ
                    </p>
                </div><!-- e:desc -->
                <a elem="more-btn" class="site-btn" href="#">Все услуги нашей компании</a>
            </div><!-- e:left -->

            <div elem="right">
                <div elem="items">
                    {% for item in servicesItem %}
                        <div elem="item">
                            <div elem="icon"><img src="img/{{item.icon}}" alt=""></div>
                            <div elem="text">
                                <div elem="name">{{item.name}}</div>
                                <a elem="text-more" href="#">подробнее</a>
                            </div><!-- e:text -->
                        </div><!-- e:item -->
                    {% endfor %}
                </div><!-- e:items -->
            </div><!-- e:right -->
        </div><!-- e:body -->
        <div elem="bot" mods="mob-show">
            <a elem="more-btn" class="site-btn" mods="mob-show" href="#">Все услуги нашей компании</a>
        </div><!-- e:bot -->
    </div><!-- e:section -->
</div><!-- b:services -->