.services
    margin-bottom 120px

    @media screen and (max-width 768px)
        margin-bottom 40px

    &__body
        display flex
        justify-content space-between
        
        @media screen and (max-width 1279px)
            flex-direction column

    &__left
        width 350px
        max-width 100%
        margin-right 40px
        position relative
        z-index 1
        &:after
            content '6'
            color #f5f9fc
            font-size 662px
            font-weight 500
            line-height 0.6
            position absolute
            right 45px
            bottom 180px
            z-index -1

            @media screen and (max-width 1279px)
                display none

        @media screen and (max-width 1279px)
            width 100%

    &__title
        font-size 35px
        color #232323
        font-weight 500
        line-height 1.3
        margin-bottom 40px

        @media screen and (max-width 1279px)
            margin-bottom 20px
    
    &__desc
        font-size 20px
        color #575757
        font-weight 400
        line-height 1.6
        padding-left 27px
        margin-bottom 35px

        @media screen and (max-width 1279px)
            padding-left 0
        
    &__more-btn
        min-width 316px
        margin-left 27px
        &--mob-show
            display none

            @media screen and (max-width 1279px)
                display inline-block !important

            @media screen and (max-width 439px)
                min-width auto
                width 100%    

        @media screen and (max-width 1279px)
            margin-left 0
            display none

    &__bot
        display none     

        &--mob-show
            @media screen and (max-width 1279px)
                display block
                text-align center

    &__right
        width 845px
        max-width 100%

        @media screen and (max-width 1279px)
            width 100%

    &__items
        display flex
        justify-content space-between
        flex-wrap wrap

    &__item:not(.services--inner)
        width 407px
        display flex
        justify-content space-between
        padding 55px 20px 44px 32px
        box-shadow 0 0 33px 5px rgba(52, 52, 52, 0.04)
        border-radius 3px
        background-color #fff
        margin-bottom 35px

        @media screen and (max-width 1279px)
            width 48%
            min-width 396px

        @media screen and (max-width 821px)
            width 100%
            min-width auto
            justify-content flex-start

        @media screen and (max-width 439px)
            flex-direction column    
            justify-content center
            align-items center
            text-align center
            padding 15px

    &__icon
        font-size 0
        width 55px
        height 55px
        text-align center
        flex 0 0 auto
        margin-right 20px
        @media screen and (max-width 439px)
            margin-bottom 10px
            margin-right 0

    &__name
        color #232323
        font-size 23px
        font-weight 500
        margin-bottom 60px

        @media screen and (max-width 439px)
            .selected-name
                &:after
                    display none

    &__text-more
        color #272727
        font-size 13px
        font-weight 500
        text-transform uppercase
        text-decoration none
        letter-spacing 1.3px
        position relative
        &:after
            content ''
            position absolute
            right -25px	
            top 50%
            margin-top -3px
            width 13px
            height 7px
            background url(../img/site-arrow.png) 0 0 no-repeat
            transition right .3s
        &:hover
            &:after
                right -30px    


    &--inner
        padding-top 55px
        padding-bottom 25px
        margin-bottom 65px
        background #f5f9fc url(../img/inner-page-block-bg.png) 50% 100% no-repeat
        background-size cover

        @media screen and (max-width 768px)
            padding-top 25px
            margin-bottom 20px

        & ^[0]

            &__items

                @media screen and (max-width 843px)
                    justify-content center

            &__item
                width 407px
                max-width 100%
                height 267px
                text-decoration none
                position relative
                padding 0
                margin-bottom 30px
                display flex
                align-items center
                z-index 1
                overflow hidden
                &:hover
                    img
                        transform scale(1.1)

                &:last-child
                    margin-bottom 0        

                @media screen and (max-width 1279px)
                    width 407px
                    min-width auto

                @media screen and (max-width 821px)
                    width 407px
                    min-width auto
                    justify-content flex-start

                @media screen and (max-width 439px)
                    flex-direction column    
                    justify-content center
                    align-items center
                    text-align center
                    padding 15px        

            &__img
                position absolute
                top 0
                left 0
                z-index -1
                img 
                    transition transform 1s ease-out

            &__text
                padding 0 50px 40px 40px
                margin-top auto
                
            &__name
                color #fff
                margin-bottom 0
