<div block="services" mods="inner">
    <div elem="section" class="contain">
            <div elem="items">
                {% for item in servicesItem__inner %}
                    <a elem="item" href="#">
                        <div elem="img"><img src="img/{{item.img}}" alt=""></div>
                        <div elem="text">
                            <div elem="name">{{item.name}}</div>
                        </div><!-- e:text -->
                    </a><!-- e:item -->
                {% endfor %}
            </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:services -->