<div block="mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="item" mods="for-nav">
                <span elem="burger-btn"><icon name="burger" tag="i"></span>
                <nav elem="nav"></nav><!-- e:nav -->
            </div><!-- e:item -->
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:mobile-panel -->