.mobile-panel
    padding 10px 15px 15px
    border-bottom 1px solid #f7f7f7
    display none
    
    @media screen and (max-width 1100px)
        display block
        
    &__item
        position relative
            
    &__burger-btn
        display inline-block
        vertical-align top
        cursor pointer
        .svg-icon
            fill #00a0e3
            width 28px
            height 28px
            
    &__nav
        position absolute
        top 40px
        left -15px
        padding 15px
        background-color #fff
        max-width 100%
        width 320px
        display none
        box-shadow 1px 9px 20px 0px #ccc
        z-index 5
        
        ul
            margin 0
            padding-left 0
            list-style none
            display block
            
            li
                margin-bottom 20px
                position relative
                margin-right 0
                &:last-child
                    margin-bottom 0
                
                a
                    font-size 16px
                    font-weight 400
                    color #5b5b5b
                    text-decoration none
                    display block
                    transition color .3s
                    &:hover
                        color #00a2e5