.app-footer
    flex none
    padding-top 55px
    padding-bottom 55px
    background-color #e7e7e7

    @media screen and (max-width 549px)
        padding 25px 0

    &__items
        display flex
        justify-content space-between
        flex-wrap wrap
        margin-bottom 60px

        @media screen and (max-width 549px)
            margin-bottom 25px
        
    &__item

        &--mod
            padding-top 10px    

    &__bot-line
        display flex
        justify-content space-between
        flex-wrap wrap

        a
            font-size 14px
            color #575757
            font-weight 400
            text-decoration underline
            &:hover
                text-decoration none

            @media screen and (max-width 544px)
                margin-bottom 10px
                
    &__dev-site
        width 310px
        max-width 100%            