<footer block="app-footer">
    <div elem="section" class="contain">
        <div elem="items">
            <div elem="item">
                {% include "logo.html" %}
            </div><!-- e:item -->
            <div elem="item" mods="mod">
                {% include "footer-nav.html" %}
            </div><!-- e:item -->
            <div elem="item" mods="mod">
                {% include "contacts-footer.html" %}
            </div><!-- e:item -->
            <div elem="item" mods="mod">
                {% include "we-are.html" %}
            </div><!-- e:item -->
        </div><!-- e:items -->
        <div elem="bot-line">
            <a elem="privacy-policy" href="#">Политика конфиденциальности</a>
            <a elem="dev-site" href="#">Разработка сайта Точка.ру</a>
        </div><!-- e:bot-line -->
    </div><!-- e:section -->
</footer><!-- b:app-footer -->
