.contacts
    display flex
    flex-direction column
    text-align right

    &--footer
        text-align left
        width 210px

        & ^[0]
            &__title
                font-size 18px
                color #575757
                font-weight 400
                margin-bottom 15px

    @media screen and (max-width 460px)
        text-align center

    &__phone
        font-size 21px
        color #000
        font-weight 500
        text-decoration none
        line-height 1.1
        cursor default
        margin-bottom 10px


    &__call-back
        color #00a0e3
        font-size 13px
        font-weight 500
        line-height 1.1
        text-transform uppercase
        text-decoration none
        letter-spacing 0.65px
        display inline-block
        vertical-align top
        align-self baseline
        padding-bottom 3px
        border-bottom 1px solid #00a0e3
        transition border-bottom .3s
        &:hover
            border-bottom 1px solid transparent

    &--footer
        width 250px
        @media screen and (max-width 460px)
            text-align left