<div block="contacts" mods="footer">
    <div elem="title">По всем вопросам:</div>
    <a elem="phone" href="tel:+74951434330" >+7 (495) 143-43-30</a>
    <a elem="call-back" href="#modal">Заказать обратный звонок</a>
</div><!-- b:contacts -->