<div block="contacts">
    <a elem="phone" href="tel:+74951434330" >+7 (495) 143-43-30</a>
    <a elem="call-back" data-remodal-target="modal" href="">Заказать обратный звонок</a>
</div><!-- b:contacts -->