<div block="about-company">
    <div elem="section" class="contain">
        <div elem="body">
            <div elem="title">Молодой и амбициозный проект <br> в области стоимостного инжиниринга</div>
            <div elem="desc">
                <p>
                    ООО «Тета-Инжиниринг» представляет собой молодой и амбициозный проек
                    в области стоимостного инжиниринга, основанный группой профессионалов
                    с опытом работы в коммерческих и государственных структурах более 10 лет,
                    в том числе уполномоченных на реализацию государственной политики
                    в области ценообразования и сметного нормирования в градостроительной сфере. 
                </p>

                <p>
                    ООО «Тета-Инжиниринг» представляет собой молодой и амбициозный проек
                    в области стоимостного инжиниринга, основанный группой профессионалов
                    с опытом работы в коммерческих и государственных структурах более 10 лет,
                    в том числе уполномоченных на реализацию государственной политики
                    в области ценообразования и сметного нормирования в градостроительной сфере. 
                </p>

                <p>
                    ООО «Тета-Инжиниринг» представляет собой молодой и амбициозный проек
                    в области стоимостного инжиниринга, основанный группой профессионалов
                    с опытом работы в коммерческих и государственных структурах более 10 лет,
                    в том числе уполномоченных на реализацию государственной политики
                    в области ценообразования и сметного нормирования в градостроительной сфере. 
                </p>

                <p>
                    ООО «Тета-Инжиниринг» представляет собой молодой и амбициозный проек
                    в области стоимостного инжиниринга, основанный группой профессионалов
                    с опытом работы в коммерческих и государственных структурах более 10 лет,
                    в том числе уполномоченных на реализацию государственной политики
                    в области ценообразования и сметного нормирования в градостроительной сфере. 
                </p>

                <p>
                    ООО «Тета-Инжиниринг» представляет собой молодой и амбициозный проек
                    в области стоимостного инжиниринга, основанный группой профессионалов
                    с опытом работы в коммерческих и государственных структурах более 10 лет,
                    в том числе уполномоченных на реализацию государственной политики
                    в области ценообразования и сметного нормирования в градостроительной сфере. 
                </p>

                <p>
                    ООО «Тета-Инжиниринг» представляет собой молодой и амбициозный проек
                    в области стоимостного инжиниринга, основанный группой профессионалов
                    с опытом работы в коммерческих и государственных структурах более 10 лет,
                    в том числе уполномоченных на реализацию государственной политики
                    в области ценообразования и сметного нормирования в градостроительной сфере. 
                </p>
            </div><!-- e:desc -->
        </div><!-- e:body -->
    </div><!-- e:section -->
</div><!-- b:about-company -->