.about-company
    padding-top 280px
    margin-top -280px
    margin-bottom 120px
    background #f5f9fc url(../img/inner-page-block-bg.png) 50% 100% no-repeat

    @media screen and (max-width 959px)
        margin-top 0
        padding-top 25px
        margin-bottom 40px

    &__section
        text-align center
        padding-top 15px
        padding-bottom 100px
        background url(../img/name-company-pic.png) 50% 0 no-repeat
        background-size contain

        @media screen and (max-width 959px)
            background none
            padding-bottom 0

        @media screen and (max-width 640px)
            text-align left    
        
    &__body
        width 750px
        max-width 100%
        margin-right auto
        margin-left auto

        @media screen and (max-width 959px)
            width 100%

    &__title
        font-size 35px
        color #232323
        font-weight 500
        padding-left 90px
        margin-bottom 80px

        @media screen and (max-width 959px)
            margin-bottom 30px
            padding-left 0

        @media screen and (max-width 640px)
            font-size 28px
            text-align center
            margin-bottom 10px

        @media screen and (max-width 480px)
            font-size 24px

        @media screen and (max-width 375px)
            font-size 18px    

    &__desc
        font-size 20px
        color #575757
        font-weight 400
        line-height 1.5
        padding 5px 0 15px 90px
        position relative
        height 320px
        overflow-y auto
        
        p
            margin-top 0
            margin-bottom 25px

        @media screen and (max-width 959px)
            border none
            padding-left 15px
    
    .scrollbox-horizontal-rail,
    .scrollbox-horizontal-bar
        display none        

    .scrollbox-vertical-rail, 
    .scrollbox-vertical-bar
        right auto
        left 0     

    .scrollbox-rail
        width 2px
        background-color #282828
        opacity 0.1
    
    .scrollbox-vertical-bar
        left -1px

    .scrollbox-bar
        width 5px
        height 27px
        border-radius 3px
        background-color #00a0e3        