.we-are
    width 310px
    max-width 100%
    
    &__title
        font-size 18px
        color #575757
        font-weight 400
        margin-bottom 15px

    &__address
        font-size 16px
        color #202020
        font-weight 400
        margin-bottom 25px
 