<div block="we-are">
    <div elem="title">Мы находимся:</div>
    <div elem="address">121205, г. Москва, территория ИЦ Сколково, ул. Нобеля д.5, эт. 2, оф. 252.5</div><!-- e:address -->
    {% include "social-links.html" %}
</div><!-- b:we-are -->