.our-products
    margin-bottom 85px

    @media screen and (max-width 768px)
        margin-bottom 40px

    &__title
        font-size 35px
        color #232323
        font-weight 500
        margin-bottom 50px

        @media screen and (max-width 480px)
            margin-bottom 25px

    &__items
        display flex

    &__item
        &:hover
            & ^[0]
                &__name
                    color #00a0e3
                    
    &__img
        width 310px
        height 300px
        display block
        margin-right auto
        margin-left auto
        text-align center
        img
            max-width 100%

        @media screen and (max-width 375px)
            width 285px

    &__name
        font-size 18px
        color #232323
        font-weight 700
        text-align center
        text-decoration none
        display block
        width 300px
        margin-top -50px
        transition color .3s

        @media screen and (max-width 639px)
            margin-right auto
            margin-left auto

    .owl-carousel 
        position relative
        .owl-item 
            img
                display inline
                width auto
                max-width 100%
        
        .owl-nav
            
            .owl-prev,
            .owl-next
                width 38px
                height 38px
                border-radius 50%
                box-shadow 0 0 11px 2px rgba(52, 52, 52, 0.05)
                position absolute
                transition box-shadow .3s
                &:hover
                    box-shadow 0 0 11px 2px rgba(0, 160, 227, 0.47)    
            
            .owl-prev
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                transform rotate(180deg)
                top 50%
                left -10px
                margin-top -30px

            .owl-next
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                top 50%
                right -10px
                margin-top -30px   