<div block="our-products">
    <div elem="section" class="contain">
        <div elem="title">Наши продукты</div>
        <div elem="items" class="owl-carousel">
            {% for item in ourProducts %}
                <div elem="item">
                    <a elem="img" href="#"><img src="img/{{item.img}}" alt=""></a>
                    <a elem="name" href="#">{{item.name}}</a>
                </div><!-- e:item -->
            {% endfor %}
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:our-products -->