.content-text
    margin-bottom 30px
    
    &__section
        transition height .3s
        &--mobile
            height 190px
            overflow hidden

    p                       
        font-size 20px
        margin-bottom 10px

    &--type2

        p
            font-size 18px

    .readmore-js-toggle
        font-size 18px
        color #00a0e3
        text-align right
        padding-bottom 3px
        border-bottom 1px solid #00a0e3
        display inline-block
        width auto