.form-popup
    border-radius 5px
    
    &__items
        display flex
        flex-wrap wrap
        margin-bottom 20px

    &__item
        position relative
        
        input[type="text"]
            padding 26px 20px 27px 50px

        &--name
            width 49%
            margin-right 11px

            @media screen and (max-width 1279px)
                margin-right 0

        &--phone
            width 49%

        &--email
            width 100%

        &--message
            width 100%

        @media screen and (max-width 1279px)
            width 100%

    &__icon
        display block
        width 16px
        height 16px
        position absolute
        top 24px
        left 20px
        img
            max-width 100%

    &__bot
        display flex
        align-items center

        @media screen and (max-width 1023px)
            flex-direction column

    &__personal-data
        font-size 14px
        color #fff
        font-weight 400
        width 300px
        max-width 100%
        margin-right 20px

        @media screen and (max-width 1023px)
            text-align center
            margin-right 0
            margin-top 15px
            order 1
            width 100%

    &__btn-send
        min-width 225px

    &__send-success
        font-size 24px
        color #575757
        font-weight 500
        display none
        &.success
            display block

        @media screen and (max-width 960px)
            font-size 18px

    &__section
        &.success
            display none

    &__item 
        width 100%

        input[type="text"],
        textarea
            padding 16px 10px 17px 50px
            border 1px solid #00aaf1
        
        textarea
            padding-left 20px

            @media screen and (max-width 480px)
                min-height 100px

        &--name
            margin-right 0

    &__icon
        top 16px

        @media screen and (max-width 480px)
            top 19px

    &__bot
        flex-direction column

    &__personal-data
        color #575757
        order 1

    &__btn-send
        margin-bottom 10px

        @media screen and (max-width 480px)    
            min-width auto
            width 100%
            margin-bottom 5px