<div block="form-popup" class="remodal" data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <form elem="form" action="">
            <div elem="items">
                <div elem="item" mods="name">
                    <span elem="icon"><img src="img/form-icon-user.png" alt=""></span>
                    <input type="text" name="" id="" placeholder="Ваше имя*" required>
                </div><!-- e:item -->
                <div elem="item" mods="phone">
                    <span elem="icon"><img src="img/form-icon-tel.png" alt=""></span>
                    <input type="text" class="phone_us" name="" id="" placeholder="Ваш телефон*" required maxlength="18">
                </div><!-- e:item -->
                <div elem="item" mods="email">
                    <span elem="icon"><img src="img/form-icon-email.png" alt=""></span>
                    <input type="text" class="e-mail_mask" name="" id="" placeholder="Ваш Email*" required>
                </div><!-- e:item -->
                <div elem="item" mods="message">
                    <textarea placeholder="Сообщение (не обязательно)" name="" id=""></textarea>
                </div><!-- e:item -->
            </div><!-- e:items -->
            <div elem="bot">
                <div elem="personal-data">Нажимая на кнопку "Отправить", я даю согласие на обработку персональных данных</div><!-- e: -->
                <button elem="btn-send" class="site-btn" type="submit">Отправить</button>
            </div><!-- e:bot -->
        </form><!-- e:form -->
    </div><!-- e:section -->
    <div elem="send-success">Спасибо! Ваше сообщение отправлено</div><!-- e:send-success -->
</div><!-- b:form-popup -->