<div block="social-links">
    <div elem="items">
        {% for item in socialLinks %}
        <div elem="item">
            <a elem="icon" href="{{item.url}}"><img src="img/{{item.icon}}" alt=""></a>
        </div><!-- e:item -->
        {% endfor %}
    </div><!-- e:items -->
</div><!-- b:social-links -->