.social-links
    
    &__items
        display flex
        align-items center

    &__item
        margin-right 10px

    &__icon
        width 24px
        height 25px
        border-radius 3px
        border 1px solid #000000
        display block
        text-align center
        display flex
        align-items center
        justify-content center
        transition border .3s
        &:hover
            border 1px solid #00a0e3

        img 
            max-width 100%