<div block="partners">
    <div elem="section" class="contain">
    <div elem="title">Партнёры</div>
        <div elem="items" class="owl-carousel">
            {% for item in partnersItem %}
            <div elem="item">
                <a elem="img" href="#"><img src="img/{{item.img}}" alt=""></a>
            </div><!-- e:item -->
            {% endfor %}
            
        </div><!-- e:items -->
    </div><!-- e:section -->
</div><!-- b:partners -->