.partners
    margin-bottom 110px

    @media screen and (max-width 768px)
        margin-bottom 40px
    
    &__title
        font-size 35px
        color #232323
        font-weight 500
        margin-bottom 40px

        @media screen and (max-width 959px)
            text-align center

        @media screen and (max-width 639px)
            margin-bottom 20px

    &__items
        display flex

        @media screen and (max-width 959px)
            flex-wrap wrap
            justify-content center

    &__item
        width 255px
        border 1px solid #ededed
        display flex
        align-items center
        justify-content center
        transition border .3s
        &:hover
            border 1px solid #00a0e3

    &__img
        display block
        font-size 0
        text-align center
        img
            display block
            margin auto



    .owl-carousel 
        position relative

        .owl-stage
            display flex
            padding-left 10px

        .owl-item
            display flex
            
        .owl-nav
            
            .owl-prev,
            .owl-next
                width 38px
                height 38px
                border-radius 50%
                box-shadow 0 0 11px 2px rgba(52, 52, 52, 0.05)
                position absolute
                transition box-shadow .3s
                &:hover
                    box-shadow 0 0 11px 2px rgba(0, 160, 227, 0.47)    
            
            .owl-prev
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                transform rotate(180deg)
                top 50%
                left -10px
                margin-top -20px

            .owl-next
                background #fff url('../img/site-arrow.png') 50% 50% no-repeat
                top 50%
                right -10px
                margin-top -20px                   