= yaml =
pageTitle: Услуги
bodyMods: services
bodyClasses: ''
scrollFixClasses: ''
contentClasses: 'container'
asideLeft: false
asideRight: false
layout: !!map
    header : true
    footer : true
    left : false
    right : false
crumbsKey : servicesPage    
= yaml =

{% extends '_layout.html' %}

{% block main %}

    <div class="contain">
        {% include "crumbs.html" %}

        <h1>Н1 Услуги</h1>

        {% include "content-text.html" %}
    </div>

    {% include "services-inner.html" %}

    <div class="contain">
    {% include "content-text-type2.html" %}
    </div>
    
{% endblock %}
