<nav block="footer-nav">
    <ul elem="menu">
        <li><a href="#">О компании</a></li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Продукты</a></li>
        <li><a href="#">Деятельность</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Контакты</a></li>
    </ul><!-- e:menu -->
</nav><!-- b:footer-nav -->