.footer-nav
    width 320px
    max-width 100%
    margin-left 5px

    @media screen and (max-width 800px)
        width 270px

    @media screen and (max-width 700px)
        margin-bottom 20px
        width 320px
        
    &__menu
        display flex
        flex-wrap wrap
        list-style none
        padding-left 0
        margin 0

        li
            width 50%
            margin-top 10px

            a
                font-size 18px
                color #575757
                font-weight 400
                text-decoration none
                &:hover
                    color #00a0e3
                    text-decoration underline